.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .hero-img {
        border-radius: 5px;
    }

    .hero-content {
        display: grid;
        grid-template-rows: min-content min-content;
        cursor: default;
        text-wrap: balance;

        h1 {
            color: transparent;
            text-shadow: 0 0 5px rgba(0, 150, 255, 0.5);
            background: linear-gradient(90deg, var(--accent-color-1), var(--accent-color-2));
            background-clip: text;
            line-height: normal;
            margin-bottom: 1rem;
        }

        h2 {

            color: transparent;
            background: linear-gradient(90deg, var(--primary-color), var(--primary-color-shade));
            background-clip: text;
            line-height: normal;
        }

        .hero-cta {
            align-self: flex-end;
            justify-self: flex-end;
        }
    }


}