@import url(styles/hero.css);
@import url(styles/socials.css);
@import url(styles/tech.css);
@import url(styles/projects.css);
@import url(styles/buttons.css);
@import url(styles/typography.css);

:root {
    --accent-color-1: #3498db;
    --accent-color-2: #2c3e50;
    --primary-color: #ffffffe8;
    --primary-color-shade: #ffffff91;
    --secondary-color: #111;
    --secondary-color-shade: #ffffffe2;
    --header-size: 46px;
    --subheader-size: 32px;
    --text-size: 16px;
    --gutter-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    scroll-snap-type: y mandatory;
}


input[type="radio"] {
    display: none;
}

main {
    padding: 0 var(--gutter-size);
}

section {
    scroll-snap-align: start end;
}

.full-page {
    min-height: 100dvh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}